/* MATERIALIZE
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
html {
	font-family: sans-serif;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	box-sizing: border-box;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

*, *:before, *:after {
	box-sizing: inherit;
}
/* PARALLAX
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.parallax-container {
	position: relative;
	overflow: hidden;
	min-height: 500px;
	width: 100vw;
	color: white;
}
.parallax {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -10;
}
.parallax img {
	display: none;
	position: absolute;
	left: 50%;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
}
/* OVERRIDE
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
body{
	font-size: 15px;
	font-family: 'PT Sans', sans-serif;
	margin: 0;
	padding: 0;
	line-height: 1.5rem;
	background: maroon;
}
.container{
	width: 100vw; 
	padding: 3rem; 
	margin: auto;
	background: white;
}	
h1, h2, h3{
	font-family: 'PT Serif', serif;
	line-height: 150%;
	text-align: center;
}
h1{
	font-size: 5rem;
	margin: 12rem auto;
}
h2{
	font-size: 4rem;
	margin: 10rem auto;
}
h3{
	font-size: 1.5rem;
}
strong{
	line-height: 1.5rem;
}
img{
	display: block;
	margin: 0 auto;
}
figcaption{
	text-align: center;
}
#longstreet{
	background: url('https://www.civilwar.org/sites/default/files/styles/gallery_item/public/thumbnails/image/longstreet-charges-1_0.jpg?itok=d0m3ZKzT') no-repeat fixed center;
	background-size: cover;
	height: 50vh;
	border: 8px outset #654321;
}
nav{
	display: block;
	text-align: center;
}
nav ul{
	font-weight: bold;
	font-size: 1.25rem;
	line-height: 2rem;
	list-style-type: none;
}
nav ul li a{
	text-decoration: none;
	color: #11F;
}
nav ul li a:hover{
	background: #11F;
	color: white;
	padding: 0.25rem;
}

/* SCROLLBAR 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
html, body{
	max-width: 100%;
	overflow-x: hidden;
}
body::-webkit-scrollbar {
	width: 0.5rem;
	background: #DDD;
}
body::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.8);
}
body::-webkit-scrollbar-thumb {
  background-color: #222;
  outline: 1px solid slategrey;
}






