/** BIG page elements
----------------------------------------------------------------------------------------------------------*/
	body{
		background: url("https://thecalicoder.github.io/images/offices.jpg") no-repeat fixed center;
		background-size: cover;
		margin: 0;
		font-family: "Open Sans", sans-serif;
		font-size: 1vw;
	}
	aside{
		float: left;
		width: 20vw;
		height: 100vh;
		overflow: scroll;
	}
	main{
		float: right;
		width: 80vw;
		height: 100vh;
	}
	main + *{
		clear: both;
	}


/** GENERAL elements
----------------------------------------------------------------------------------------------------------*/
	h1, h2, h3{
		font-family: 'Roboto', sans-serif;
	}
	::-webkit-scrollbar{
		display: none;
	}


/** HEADER elements
----------------------------------------------------------------------------------------------------------*/
	header{
		background: rgba(150, 70, 0, 0.5);
		height: 12vh;
		padding: 2vh;
	}
	#site-title{
		color: white;
		font-size: 2vw;
		margin: 0;
	}
	#site-description{
		color: #BBB;
		font-size: 1.25vw;
	}


/** ASIDE SECTION elements
----------------------------------------------------------------------------------------------------------*/
	aside section{
		background: rgba(0, 0, 0, 0.5);
		height: 88vh;
		padding: 3vh;
	}
	nav{
	
	}
	nav a{
		text-decoration: none;
		color: lightgray;
		padding: 1vw;
		display: block;
		margin: 0;
	}
	nav a:hover{
		background-color: rgba(20, 20, 20, 0.2);
		color: white;
	}


/** elements in main
----------------------------------------------------------------------------------------------------------*/
	#program-links{
		background: rgba(255, 255, 255, 0.75);
		margin: 6vmin;
		padding: 3vw;
	}
	#program-links a{
		text-decoration: none;
		color: #444;
		display: inline-block;
		line-height: 3vmax;
		font-weight: 900;
	}
	#program-links a:hover{
		background-color: rgba(68, 68, 68, 0.1);
		color: black;
	}
	.dates{
		color: gray;
	}